---
title: Projects
keywords: projects
sidebar: artic_sidebar
toc: false
permalink: /projects
folder:
tags: [projects]
---

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Projects</h2>
    </div>
    {% for page in site.html_pages %}
    {% if page.folder == "projects" %}
    <div class="col-md-6">
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                        <a class="post-link" href="{{ page.url }}">
                        <img  src="{{ page.icon }}" alt="{{ page.title }}" class="img-responsive" style="object-fit: contain; width: 64px; height: 64px; ; border-radius: 25%"/></a>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a class="post-link" href="{{ page.url }}">{{ page.title }}</a></h4>
                <p>{{ page.summary | strip_html | strip_newlines | truncate: 160 }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
