<div style="margins:auto;">
    <div style="width: 100%; display: table; margin-top: 32px">
        <div style="display: table-row">
            <span>
            <div style="max-width: 17%; display: table-cell; vertical-align: middle; text-align: left">
                <a class="noCrossRef" href="http://artic.network">
                    <img src="/images/artic.png" style="max-height: 48px; margin: 0px 10px 0px 10px;" />
                </a>
            </div>
            <div style="display: table-cell; vertical-align: middle};">
                <div style="font-size: 100%; padding-top: 35px; margin-top: -35px">Document developed by <a class="no_icon" href="http://artic.network">ARTIC network</a></div>
                <div style="font-size: 80%; font-weight: normal; font-style: italic;"><a href="artic.network">http://artic.network</a></div>
            </div>
            <div style="max-width: 17%; display: table-cell; vertical-align: middle; text-align: right">
                <a class="noCrossRef" href="http://wellcome.ac.uk">
                <img src="/images/wellcome-logo-black-small.png" style="max-height: 48px; margin: 0px 10px 0px 10px;" />
                </a>
            </div>
            <div style="display: table-cell; vertical-align: middle};">
                <div style="font-size: 100%; padding-top: 35px; margin-top: -35px">Funded by the <a class="no_icon" href="http://wellcome.ac.uk">Wellcome Trust</a></div>
                <div style="font-size: 80%; font-weight: normal; font-style: italic;">Collaborators Award 206298/Z/17/Z</div>
            </div>
            </span>
        </div>
    </div>
</div>

